<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.management.mapper.LeaveMapper">

    <!--动态sql-->

    <select id="page" resultType="com.company.management.entity.LeaveRequest">
        select * from leave_request
        <where>
            <if test="dto.employeeId != null">
                and employee_id = #{dto.employeeId}
            </if>
            <if test="dto.status != null">
                and status = #{dto.status}
            </if>
            <if test="dto.startTime != null">
                and apply_time >= #{dto.startTime}
            </if>
            <if test="dto.endTime != null">
                and apply_time &lt; #{dto.endTime}
            </if>
            <if test="dto.approverId != null">
                and approver_id = #{dto.approverId}
            </if>
        </where>
    </select>
    <update id="update">
        update leave_request
        <set>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="remark != null">
                approve_remark = #{remark},
            </if>
                approver_id = #{employeeId},
                approve_time = NOW(),
                update_time = NOW()
        </set>
        where id = #{id}
    </update>
</mapper>
