<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.management.mapper.LogMapper">
    <!--动态sql-->
    <select id="list" resultType="com.company.management.entity.Log">
        select * from sys_log
        <where>
            <if test="dto.userId != null">
                and user_id = #{dto.userId}
            </if>
            <if test="dto.keyword != null and dto.keyword !=''">
                and (method like concat('%',#{dto.keyword},'%')
                 or operation like concat('%',#{dto.keyword},'%')
                 or params like concat('%',#{dto.keyword},'%'))
            </if>
            <if test="dto.startTime != null and dto.startTime != ''">
                and create_time >= #{dto.startTime}
            </if>
            <if test="dto.endTime != null and dto.endTime != ''">
                and create_time &lt; #{dto.endTime}
            </if>
        </where>
    </select>

    <insert id="insert">
        insert into sys_log (user_id, operation, method, params, ip, create_time)
        values (#{log.userId}, #{log.operation}, #{log.method}, #{log.params}, #{log.ip}, #{log.createTime})
    </insert>
</mapper>
