<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.management.mapper.NoticeMapper">
    <!--动态sql-->

    <select id="list" resultType="com.company.management.entity.Notice">
        select * from notice
        <where>
            <if test="dto.title != null">
                and title like concat('%',#{dto.title},'%')
            </if>
            <if test="dto.startTime != null">
                and create_time >= #{dto.startTime}
            </if>
            <if test="dto.endTime != null">
                and create_time &lt; #{dto.endTime}
            </if>
            <if test="dto.publisherId != null">
                and publisher_id = #{dto.publisherId}
            </if>
            <choose>
                <when test="dto.status != null and dto.status == -1">
                </when>
                <when test="dto.status != null">
                    and status = #{dto.status}
                </when>
                <otherwise>
                    and status = 1
                </otherwise>
            </choose>
        </where>
        order by create_time desc
    </select>

    <update id="update">
        update notice
        set title = #{dto.title},
            content = #{dto.content},
            status = #{dto.status},
            update_time = now()
        where id = #{dto.id}
          and publisher_id = #{dto.publisherId}
    </update>

    <insert id="add">
        insert into
        notice(title,content,publisher_id,status)
        values(#{dto.title},#{dto.content},#{dto.publisherId},#{dto.status})
    </insert>
</mapper>
